<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    {% include nav.html %}
    {{ content }}

    <p style="text-align: right; font-size: 0.9em; color: #777; font-style: italic; margin-top: -1em;">
      📅 Geschrieben: {{ page.created }}<br>
      🔄 Letzte Änderung: {{ page.lastmod }}
    </p>

    <p style="font-size: 0.9em; color: #555; margin-top: -1em;">
      Geschrieben am: {{ page.created }}<br>
      Aktualisiert am: {{ page.lastmod }}
    </p>
    {% include nav.html %}
  </body>
</html>


